/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    display:grid;
    grid-template-rows: repeat(autofit);
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}




