/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    display:grid;
    grid-template-rows: repeat(autofit);
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}




/* Header styles */

header, h1{
    grid-row: 1;
    background-color: white;
    font-size: 18px;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 2rem;
}

nav a{
    color: #6b7280;
    text-decoration: none;
}

nav a:hover{
    color: #5A67D8;
}




/* Main styles */

main {
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(auto);
}




/* 'Hero Overview' section styles */

.overview-hero {
    grid-row: 1;
    background-color: #E2E8F0;
}

.overview-hero .container {
    display: grid;
    grid-template-columns: 25% auto;
    place-items: center;
    padding: 1em 1.5em;
}

.overview-hero-image {
    grid-column: 1;
}

.overview-hero-image img{
    width: 100%;
    height: auto;
}

.overview-hero-text {
    grid-column: 2;
    padding: 1.5em 2em;
}




/* 'Learn About' section styles */

.learn-about {
    grid-row: 2;
    padding-bottom: 1.5rem;
}

.learn-about h2 {
    font-size: 24px;
    color: #48BB78;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    box-shadow: 0 4px 6px #E2E8F0;
    padding: 1rem;
}

.card h3 {
    font-size: 21px;
    color: #48BB78;
}

.card img {
    width: 100%;
    height: 47%;
}




/* 'Testing' section styles */
.testing {
    grid-row: 3;
    background-color: #4A5568;
    color: white;
}

.testing .container {
    display: grid;
    grid-template-columns: auto 360px;
    place-items: center;
   padding: 5rem 0 7rem;
}

.testing-description {
    grid-column: 1;
}

.cta {
    grid-column: 2;  
}

.cta a{
    background-color: #48BB78;
    color: white;
    padding: 10px 35px;
    border-radius: 5px;
    text-decoration: none;
}




/* 'Recent Stories' section styles */

.stories {
    grid-row: 4;
}

.stories .container{
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
}

.stories h2, a {
    color: #5A67D8;
    text-decoration: none;
}

.stories h3 {
    font-size: 18px;
}

article {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

article img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    margin-right: 3rem;
}

.article-body h3{
    max-width: 40rem;
}




/* 'Newsletter' section styles */

.newsletter {
    grid-row: 5;
    background-color: #48BB78;
    color: white;
}

.newsletter .container {
    display: block;
    text-align: center;
    margin: 3rem auto 4rem;
}

.newsletter p {
    max-width: 500px;
    text-align: left;
    margin: 0 auto 1.5em ;
}

.newsletter form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.newsletter input {
    width: 15rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
}

.newsletter button {
    background-color: #5A67D8;
    color: white;
    padding: 1rem 2.5rem;
    margin-left: 0.5rem;
    border: none;
    border-radius: 5px;
}

/* Newsletter Message styles */

.error {
    color: #cc3d3d;
    font-weight: bold;
    margin-top: 10px;
}

.success {
    color: #f2faf5;
    font-weight: bold;
    margin-top: 10px;
}




/* Footer styles */

footer {
    grid-row: 3;
    background-color: #4A5568;
    color: white;
}